.custom-span-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.custom-span-container span:first-child {
  font-weight: 500;
}

.custom-span-container span:last-child {
  color: var(--color-grey-500);
  font-size: 1.2rem;
}
