/* Table Header */
.table-header {
  background-color: var(--color-grey-200);
  color: white;
  font-size: 1.6rem;
}

.table-header-cell {
  font-size: 1.6rem;
  text-align: center;
}

/* Table Body */
.table-cell {
  font-size: 1.4rem;
  text-align: center;
}
