.layout-container {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 26rem 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header-container {
  background-color: white;
  padding: 1.2rem 4.8rem;
}

.sidebar-container {
  background-color: white;
  grid-row: 1 / -1;
}

.main-container {
  background-color: #eceff1;
  padding: 4rem 4.8rem 6.4rem;
}
