.login-form-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-container {
  width: 84%;
  padding: 2.4rem 4rem;
  /* Box */
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-100);
  border-radius: var(--border-radius-md);
}

.field-container {
  display: grid;
  align-items: center;
  grid-template-columns: 24rem 1fr 1.2fr;
  gap: 2.4rem;
  padding: 1.2rem 0;
}

.field-container:first-child {
  padding-top: 0;
}

.field-container:last-child {
  padding-bottom: 0;
}

.field-container:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-100);
}

.field-container button {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.field-label {
  font-weight: 500;
}

.field-input {
  border: 1px solid var(--color-grey-300);
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-sm);
  padding: 0.8rem 1.2rem;
  box-shadow: var(--shadow-sm);
}

.field-error {
  font-size: 1.4rem;
  color: var(--color-red-700);
}
